.container
  width: 90%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-32
    flex-basis: 31.72% 
  &-45
    width: 45%  
  &-55
    width: 55%    