@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( min-width: 992px )
  .logo
    &:hover
      color: $light
  .nav
   &__item
      &:hover
        color: $primary
  .contacts
    &__phone
      &:hover
        color: $light
.button
  &--primary
    &:hover
      box-shadow: 0px 12px 22px rgba($light, 0.4)
  &--outline
    &:hover
      box-shadow: 0px 12px 22px rgba($light, 0.4)
.hero
  &__scroll-down
    &:hover
      color: $primary
.instagram
  &__link
    &:hover 
      color: $light
      &::after
        content: ''
        width: 50px
        height: 1px
        background-color: $light
        margin-left: 1rem
        

@media screen and ( max-width: 992px )
  .nav
    display: none
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.29rem
  .card
    &__text
      margin-left: 0
    &__image
      &--design
        background: none    
  .hero
    .instagram
      display: none
    &__content
      margin-left: 0
  .design
    &__section-subtitle
      max-width: 28rem
    .dark-background
      height: 178rem
  .section
    &-title
      color: $light
    &-subtitle
      color: $light



@media screen and ( max-width: 576px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 28.25rem
      margin: auto
    &__title
      line-height: 1.33
    &__text
      max-width: 26.5rem
      font-size: 1.5rem
      line-height: 1.4
      margin-bottom: 2.67rem
    &__button
      display: block
      width: 100%
      margin-bottom: 2.17rem
    .title
      font-size: 1.92rem
  .modal
    &__title
      width: 19.5rem
    &__dialog
      padding-left: 2rem
      padding-right: 2rem
    &__button
      margin: auto
    &__close
      width: 1.8rem
      height: 1.8rem    


@media screen and ( max-height: 640px )    
  .hero
    &__scroll-down
      display: none

@media screen and ( max-height: 576px )  
  .modal
    &__dialog
      padding-top: 0.9rem
      padding-bottom: 0.9rem
    &__close
      width: 1.8rem
      height: 1.8rem
    &__title
      margin-bottom: 1rem
    &__input
      margin-bottom: 1rem
    &__button
      margin: auto
      padding: 1rem 2.8rem
    &__policy
      margin-bottom: 1rem