@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .swiper
    &-slide
      &__text
        flex-basis: 40%
  
@media screen and ( min-width: 992px )
  .logo
    &:hover
      color: $light
  .nav
   &__item
      &:hover
        color: $primary
  .contacts
    &__phone
      &:hover
        color: $light
  .button
    &--primary
      &:hover
        box-shadow: 0px 12px 22px rgba($light, 0.4)
    &--outline
      &:hover
        box-shadow: 0px 12px 22px rgba($light, 0.4)
  .hero
    &__scroll-down
      &:hover
        color: $primary
  .instagram
    &__link
      &:hover 
        color: $light
        &::after
          content: ''
          width: 50px
          height: 1px
          background-color: $light
          margin-left: 1rem
  .footer
    &__button
      &:hover
        box-shadow: 0px 12px 22px rgba($light, 0.4)
    &__phone
      &:hover
        color: $light    
    &__mail-icon
      &:hover
        box-shadow: 0px 12px 15px rgba($light, 0.4)
    &__inst-icon
      &:hover
        box-shadow: 0px 12px 15px rgba($light, 0.4)  
  .scroll-up
    &:hover
      background: $dark url("../img/arrow-up.svg") no-repeat center
      box-shadow: 0 5px 15px rgba($primary, 0.7)
      text-decoration: none  
  .video__play
    &:hover
        box-shadow: 0px 12px 15px rgba($light, 0.4) 

  

        

@media screen and ( max-width: 992px )
  *
    animation: none
  .nav
    display: none
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.29rem
  .card
    &__text
      margin-left: 0
    &__image
      &--design
        background: none    
  .hero
    .instagram
      display: none
    &__content
      margin-left: 0
  .projects
    padding-top: 3rem
    padding-bottom: 23.5rem
  .row--projects
    flex-direction: column
    align-items: center
  .control
    padding-bottom: 0
  .types
    padding-top: 57px

  .col-45, .col-55
    width: 70%
  .design
    background: $dark
    &__section-subtitle
      max-width: 28rem
    .dark-background
      height: 178rem
  .design
    &__heading, &__section-subtitle
      color: $light
  .dark-layout
    position: relative
    &::before
      display: none
  .card
    &__pricetag
      &--design  
        padding-left: 0
        text-align: center     
  .swiper    
    &-wrapper
      &--text
        flex-basis: 35%
      &--photo
        padding-top: 1.8rem
  .section
    &-title
      font-size: 1.16rem
      line-height: 158.48%
      &__heading
        &--light 
          margin-bottom: 0.9rem
        &--primary    
          margin-bottom: 1.8rem
      &__word
        &::after
          display: none          

  .footer
      .map
        width: 100%


@media screen and ( max-width: 576px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .hero
    &__scroll-down
      display: none
    &::after
      display: none
    &__content
      max-width: 28.25rem
      margin: auto
    &__title
      line-height: 1.33
    &__text
      max-width: 26.5rem
      font-size: 1.5rem
      line-height: 1.4
      margin-bottom: 2.67rem
    &__button
      display: block
      width: 100%
      margin-bottom: 2.17rem
    .title
      font-size: 1.92rem
  .section
    &-title
      &__heading
        margin-bottom: 1.1rem
        &--primary    
          margin-bottom: 1.8rem          
        &--light 
          margin-bottom: 1.5rem
      &__text
        max-width: 26.5rem
        line-height: 150%
        margin-bottom: 1.65rem
    &-subtitle
      font-size: 1.25rem
      line-height: 135.84%
    h2
      font-size: 1.83rem
  #section-title__heading--primary
    letter-spacing: -0.095em

  .col-45, .col-55
    width: 100%
  .control    
    margin-top: -2px
    background: linear-gradient(to top, $light 5%, $dark 5%)
    color: $light
    &__section-title
      margin-bottom: 3.214rem
    &__video
      height: 17.5rem
      margin-bottom: 1.9rem
    &__text
      max-width: 28rem
      font-size: 1.16rem
      line-height: 174%
      margin-bottom: 2.4rem
      &::before
        margin-bottom: 1.25rem
    &__form
      flex-direction: column
    &__input-group  
      margin-bottom: 5.1rem
      div.invalid
        top: 4.5rem
        left: 0
    &__label
      font-size: 1.25rem
      color: rgba($light, 0.5)
      margin-bottom: 2px
    &__input
      font-size: 1.5rem 
      color: $light
      border-bottom: 1px solid $light     
      &::placeholder
        color: $light
      &::-moz-placeholder, &:-moz-placeholder
        opacity: 1
        color: $light   
    &__policy
      position: relative
      margin-top: -4.2rem
      margin-bottom: 5.1rem
      &-label 
        justify-content: flex-start
        font-size: 1.33rem
      div.invalid
        position: absolute
        transform: none
        left: 25px
        margin-left: 0
    &__button
      order: 5
      padding: 1.38rem 4.2rem
      font-size: 1.25rem
      border-radius: 0
  .video
    &__play
      width: 37px
      height: 37px


  .types
    &__section
      &-title
        margin-bottom: 3.47rem
        
  .swiper
    &-slide
      &__text
        font-size: 1.16rem
        flex-basis: 50%
        margin-bottom: 1rem 
      &__heading
        font-size: 1.16rem
        line-height: 135.84%
        margin-bottom: 0.75rem
      &__value
        font-size: 1.16rem
        line-height: 1.6rem 
    &-wrapper--photo
      padding-top: 1.8rem
      img
        width: 100%
        height: 100%
        object-fit: cover
    &-wrapper
      margin-bottom: 3rem
    &-container
      margin-bottom: 1rem

  .card
    margin-bottom: 6.2rem
    &__text
      margin-top: -11.6rem
      max-width: 22.4rem
    &__pricetag
      width: 15.8rem
      height: 3.4rem
      bottom: -1.2rem
    &__list
      line-height: 1.85rem
  .design
    &__section-subtitle
      max-width: 25.5rem
      margin: 1.7rem auto 3.25rem

  .section.white
    display: none
  .footer
    background: $dark  
    &__wrap
      background-color: $dark
      padding: 0
      margin-top: 0
    &__title
      font-size: 1.67rem
      margin-bottom: 4.35rem
    &__input-group  
      flex-basis: 100% 
      margin-bottom: 5.2rem
      &--full-width
        margin-bottom: 0.6rem
      div.invalid
        top: 4.5rem
        left: 0  
    &__label
      font-size: 1.25rem
    &__input
      font-size: 1.5rem
      &--light
      color: $light
      border-bottom: 1px solid $light
    &__policy
      position: relative
      font-size: 1.5rem
      margin-bottom: 5.6rem
      label
        font-size: 1.33rem
      div.invalid
        position: absolute
        transform: none
        font-size: 1rem
        left: 25px
        margin-left: 0
    &__button
      width: 100%
      padding: 1.38rem 4.2rem
      font-size: 1.25rem
      border-radius: 0
      box-shadow: 0px 10px 20px rgba($primary, 0.1)
      margin-bottom: 0.5rem
    &__contacts
      flex-direction: column-reverse
      img
        min-width: 3.5rem
        min-height: 3.5rem
    &__address
      &-text 
        font-size: 1.5rem
        line-height: 145%
        max-width: 26rem
        margin-bottom: 1.5rem
    &__map
      max-width: 100%
      max-height: 21rem
      margin-bottom: 3.35rem
    &__menu
      display: none
  .policy
    &__label
      &--center
        justify-content: flex-start

  .modal
    &__input
      &-group
        margin-bottom: 2rem
        &--last
          margin-bottom: 0
    &__button
      margin: auto
    &__title
      width: 19.5rem
    &__dialog
      padding-left: 2rem
      padding-right: 2rem
    &__close
      width: 1.8rem
      height: 1.8rem    
    &__policy-label
      div.invalid 
        margin-bottom: 1rem


@media screen and ( max-height: 640px )    
  .hero
    &__scroll-down
      display: none
    &::after
      display: none

@media screen and ( max-height: 576px )  
  .modal
    &__dialog
      padding-top: 0.5rem
      padding-bottom: 0.5rem
    &__close
      width: 1.8rem
      height: 1.8rem
    &__title
      margin-bottom: 1rem
    &__input-group
      margin-bottom: 2rem
      &--last
        margin-bottom: 0
    &__button
      padding: 0.5rem 2.8rem
    &__policy
      margin-bottom: 1.5rem