.design
  background: linear-gradient(to bottom, $light 50%, $dark 50%)
  position: relative
  padding: 60px 0 0 0
  &__section-subtitle
    max-width: 52.93rem
    margin: 1.429rem auto 3.36rem
  &__card
    margin-bottom: 4.29rem
.card
  &__text
    &--design
      margin-top: -9.82rem
  &__pricetag
    &--design
      line-height: 3.857rem    
      padding-left: 2.357rem
      bottom: -2.08rem
  .dark-layout
    position: relative
    &::before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-color: rgba($dark, 0.3)
sub, sup
  font-size: 46%  
  top: -0.7em    