.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -19rem    
    margin-bottom: 3.514rem
    padding: 2.5rem
  &__title
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      text-transform: uppercase  
      font-size: 1.428rem
      text-align: center
      margin-bottom: 3.35rem
      margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 45% 
    margin-bottom: 3.3rem
    &--full-width
      flex-basis: 100% 
      margin-bottom: 2.1rem
  &__label
    margin-bottom: -2px  
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    font-size: 1.07rem
    padding: 1.2rem 4.2rem
    border-radius: 0
    box-shadow: 0px 10px 20px rgba($primary, 0.4)
  &__menu
    background-color: $dark
    padding: 3.42rem 0
  &__contacts
    display: flex
    flex-wrap: wrap
    flex-direction: column
  &__map
    max-width: 66.07rem
    margin-bottom: 4.64rem
  &__contacts

  &__adress
    &-text 
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      text-transform: uppercase
      color: $primary  
      font-size: 1.428rem
      line-height: 2rem
      max-width: 38rem
      text-align: center
      margin: auto
      margin-bottom: 1.6rem
  &__icons
    display: flex
    justify-content: center
    margin-bottom: 3.07rem
  &__mail-icon
    margin-right: 1.07rem 
  &__map
    margin: auto
    width: 66.07rem
    height: 33.214rem
    margin-bottom: 4.714rem
  
  

  